body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

h2 {
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
}

.btn {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3275c1;
    color: #fff;
}

.columna1, .columna2, .columna3, .columna4, .columna5, .columna6, .columna7, .columna8, .columna9, .columna10 {
    padding: 15px;
}

.alerta {
    color: #dc3545;
    margin-top: 20px;
}

center {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    color: #333; /* Color del texto */
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    background-color: #3275c1; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3275c1; 
}

.footer {
    background-color: #333; 
    color: white; 
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
