body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

header {
    background-color: #3d647d;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

.practice-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 10px;
    padding: 15px 30px;
    background-color: #3d647d;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #3d647d;
}


.footer {
    background-color: #333; 
    color: white; 
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
